/* TODO - full minification */
body { 
    background-color: rgb(98, 103, 104); 
    font-family: 
    'Orbitron', sans-serif; 
}

h1, h2, h6, p { 
    color: white; 
}

h6 {
    font-weight: bold;
}

a, a:hover, a:focus { 
    text-decoration: none; 
    background-color: transparent; 
}

.btn {
    border: 1px solid white;
    color: white;
}
    .btn:hover {
        color: darkslategray;
    }

#container { 
    margin: 10px; 
} 

.site-detail-text { 
    margin: 20px 0; 
}

.profile-row {
    margin-bottom: 20px;
}

tbody:hover {
    cursor: pointer;
}