<%- include('partials/header', { title: 'Player Profile' }); %>
<body>
    <div id="container">
        <h1 class="text-center">PLAYER PROFILE</h1>
        <div class="text-center">
            <a href="/overview" class="text-center btn">
                <i class="fa fa-arrow-left" title="Back"></i> 
                BACK
            </a>
        </div>
        <p class="text-center site-detail-text">
            This is where the players profile will go!
            <a href="<%= playerLink %>" target="_blank">Profile Link</a>
        </p>
    </div>
</body>
</html>