<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ATP Live Ranking Results</title>
    <!--Temp embedded styles-->
    <style>
        th {
            min-width: 175px;
            text-align: left;
        }

        tr {
            min-width: 175px;
        }
    </style>
</head>
<body>
    <h1>ATP Live Rankings</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Country</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <!-- <% playerData 
                <!-- <tr>
                    <td>1</td>
                    <td>Novak Djokovic</td>
                    <td>32</td>
                    <td>SERB</td>
                    <td>12000</td>
                </tr> -->
                <% -->
            </tbody>
        </table>
    </div>
</body>
</html>