body { background-color: rgb(98, 103, 104); font-family: 'Orbitron', sans-serif; }
h1, h2, p { color: white; }
a, a:hover { text-decoration: none; }
#container { margin: 10px; } .site-detail-text { margin: 20px 0; }